* text=auto
*.cs text eol=crlf
*.csproj text eol=crlf
*.props text eol=crlf
*.json text eol=lf
*.md text eol=lf
*.godot text eol=lf
*.cfg text eol=lf
*.xlsx binary
*.png binary
*.jpg binary
*.webp binary
*.ogg binary
*.wav binary
